@tailwind base;
@tailwind components;
@tailwind utilities;

link[rel="icon"] {
    color: var(--primary-color);
}

:root {
    --primary-color: #ff9100;
    --primary-color-alpha: rgba(255, 106, 0, 0.10);
    --dark-color : #4f2f12;
    --light-color: #ffefe0;
    --dark-color-alpha: rgba(79, 47, 18, 0.50);
    --ok-color: #2ecc71;
    --error-color: #e74c3c;
    --info-color: #3498db;
}

@font-face {
    font-family: 'CalSans';
    src: url('./assets/CalSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fade-in {
    animation: fadeIn 0.3s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

* {
    font-family: 'CalSans', 'Clash Display', sans-serif;
}

*::selection {
    background-color: var(--primary-color);
    color: var(--light-color);
}

html, body, #root {
    height: 100%;
    margin: 0;
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: 0.3s;
    overflow: hidden;
}

.backboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    overflow: hidden;
}

.shadow {
    position: absolute;
    width: 200%;
    aspect-ratio: 1 / 1;
    background: radial-gradient(circle, var(--primary-color-alpha) 0%, transparent 70%);
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 5rem;
    color: var(--primary-color);
}

.navbar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 20px);
    height: 50px;
    padding: 10px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: bold;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar .right button {
    background-color: transparent;
    border: solid 3px var(--primary-color);
    color: var(--primary-color);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .right .color-picker {
    margin-right: 20px;
}

.navbar button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.navbar a {
    height: 100%;
}

.navbar a svg {
    height: 100%;
    transition: fill 0.3s ease;
}

.color-picker {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.main-circle {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 100;
}

.color-picker:hover .main-circle {
    transform: scale(1.1);
}

.color-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease;
    z-index: 50;
}

.color-menu {
    background-color: var(--primary-color-alpha);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: -5px;
    padding: 0 10px;
    border-radius: 100px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.color-picker:hover .color-menu {
    max-height: 200px; /* Ajustez selon le contenu */
    padding: 40px 10px 10px;
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-circle:hover {
    transform: scale(1.2);
}

.color-circle.orange {
    background: linear-gradient(135deg, #ffefe0 50%, #ff9100 50%);
}

.color-circle.blue {
    background: linear-gradient(135deg, #ffefe0 50%, #007bff 50%);
}

.color-circle.green {
    background: linear-gradient(135deg, #ffefe0 50%, #28a745 50%);
}

.color-circle.red {
    background: linear-gradient(135deg, #ffefe0 50%, #dc3545 50%);
}

.color-circle.darkorange {
    background: linear-gradient(135deg, #4f2f12 50%, #ff9100 50%);
}

.color-circle.darkblue {
    background: linear-gradient(135deg, #4f2f12 50%, #007bff 50%);
}

.color-circle.darkgreen {
    background: linear-gradient(135deg, #4f2f12 50%, #28a745 50%);
}

.color-circle.darkred {
    background: linear-gradient(135deg, #4f2f12 50%, #dc3545 50%);
}

.blurred {
    filter: blur(10px);
    transition: filter 0.3s ease;
}

.modal-content {
    padding: 20px;
    border-radius: 8px;
    animation: fadeIn 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal {
    font-family: 'Clash Display', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: var(--dark-color);
    cursor: pointer;
}

.cycle-selector {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.cycle-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Pour Firefox */
}

.time-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.time-inputs input {
    width: 60px;
    height: 60px;
    padding: 5px;
    font-size: 2em;
    text-align: center;
    border: 2px solid var(--primary-color-alpha);
    border-radius: 1000px;
    outline: none;
    transition: border-color 0.3s ease;
}

.time-inputs input:hover {
    border: solid 2px var(--primary-color);
}

.time-inputs input:focus {
    border: solid 2px var(--primary-color);
}

.timeSeparator {
    font-size: 3em;
    margin: 0;
}

.timer {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-color);
}

.timer h2 span {
    color: var(--primary-color);
}

.timer p {
    font-size: 2rem;
    margin: 10px 0;
}

.timer-controls button {
    margin: 5px;
    aspect-ratio: 1 / 1;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.timer-controls button:disabled {
    background-color: var(--primary-color-alpha);
    cursor: not-allowed;
}

.timer-controls button:hover:not(:disabled) {
    background-color: var(--dark-color);
}

.timer-circle {
    display: block;
    margin: 0 auto 20px;
    transform: rotate(-90deg);
}

.timer-settings {
    margin-top: 10px;
    text-align: center;
}

.timer-settings input {
    margin-left: 5px;
    padding: 5px;
    width: 50px;
    text-align: center;
}

.cycle-indicators {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.cycle-indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.littleTimer {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color-alpha);
    border-radius: 100px;
    padding: 5px 20px 5px 5px;
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    cursor: pointer;
    transition: 0.5s ease;
}


.littleTimer .timer-circle {
    font-size: 1.5rem;
    color: var(--dark-color);
    margin: 0 10px 0 0;
}


.littleTimer .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.littleTimer .text p {
    margin: 0;
    color: var(--dark-color);
}

.menu {
    position: fixed;
    background-color: var(--primary-color-alpha);
    border-radius: 20px;
    height: calc(100% - 100px);
    top: 75px;
    left: 25px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.menu .niveau-0 button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 90%;
    min-height: 30px;
    margin: 5px 0;
    border: none;
    border-radius: 7px;
    color: var(--primary-color);
    font-size: 1em;
    background-color: var(--primary-color-alpha);
    transition: 0.3s ease;
    cursor: pointer;
}

.menu .niveau-0 button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}


.menu .niveau-1 button {
    background-color: transparent;
}

.menu .niveau-2 button span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu .niveau-1 button:hover {
    background-color: var(--primary-color-alpha);
    color: var(--primary-color);
}

.menu .niveau-2.ml-2 {
    width: 80%;
    border-left: solid 2px var(--primary-color);
}

.menu h2 {
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.searchList {
    list-style-type: none;
}

.menu input {
    width: calc(100% - 40px);
    margin-top: 15px;
    margin-bottom: 10px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: var(--primary-color);
    background-color: var(--primary-color-alpha);
    padding: 0 10px;
}

.searchList button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 90%;
    height: 30px;
    margin: 5px 0;
    border: none;
    border-radius: 7px;
    color: var(--primary-color);
    font-size: 1em;
    background-color: var(--primary-color-alpha);
    transition: 0.3s ease;
    cursor: pointer;
}

.searchList button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.searchList button div {
    width: fit-content;
}

.cours-content li, .cours-content p {
    color: var(--dark-color-alpha);
}

.cours-content {
    position: absolute;
    width: 75%;
    top: 50px;
    left: 20%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.cours-content hr {
    border: solid 1px var(--primary-color-alpha);
}

.cours-content strong, .cours-content h2 {
    color: var(--primary-color);
}

.cours-content .katex-display {
    font-size: 1.8em;
    margin: 1.5em 0;
}

.login {
    width: 25%;
}
.signin-content,
.login-content {
    height: 100%;
}
.signin-content h2,
.login-content h2 {
    font-size: 3em;
    margin: 0;
}

.signin-content > button,
.login-content > button {
    position: absolute;
    top: 0;
    right: 0;
}

.signin-content form,
.login-content form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.signin-content form input,
.login-content form input {
    width: calc(100% - 20px);
    margin-top: 15px;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: var(--primary-color);
    background-color: var(--primary-color-alpha);
    padding: 0 10px;
}

.signin-content form input {
    margin: 0;
}

.signin-content form label{
    width: 100%;
    margin-top: 10px;
    color: var(--primary-color);
}

.signin-content form input[type="submit"],
.login-content form input[type="submit"] {
    background-color: transparent;
    border: solid 3px var(--primary-color);
    color: var(--primary-color);
    border-radius: 7px;
    width: calc(100% + 20px);
    cursor: pointer;
    transition: 0.3s;
}

.signin-content form input[type="submit"]:hover,
.login-content form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.signin-content form button,
.login-content form button {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.signin-content form button:hover,
.login-content form button:hover {
    color: var(--primary-color-alpha);
}

.password-rules {
    background-color: var(--primary-color-alpha);
    border-radius: 7px;
    padding: 10px;
    list-style: none;
}

.password-rules li{
    color: var(--primary-color);
    font-size: 0.9em;
    transition: 0.3s ease;
}

.password-rules .valid-rule {
    color: var(--primary-color-alpha);
}

.update-history {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.update-history h1 {
    margin: 70px 0 0 0;
}

.update-history ul {
    padding: 0;
    width: 50%;
    overflow-y: scroll;
    margin-bottom: 0;
}

.update-item {
    position: relative;
    background-color: var(--primary-color-alpha);
    padding: 10px 70px 10px 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    list-style: none;
}

.update-item .tag {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    border-radius: 10px;
    padding: 5px 10px;
    color: var(--light-color);
}

.update-item .NEW {
    background-color: #73d776;
}

.update-item .ADD {
    background-color: #72b8ec;
}

.update-item .UPDATE {
    background-color: #ffb700;
}

.update-item .date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    color: var(--primary-color);
}

.update-item h2 {
    color: var(--dark-color);
}

.update-item .description {
    color: var(--dark-color-alpha);
}

.notification {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 5px 5px 20px;
    margin-top: 1rem;
    color: var(--light-color);
    font-weight: bold;
    border-radius: 100px;
    z-index: 10000;
    animation: slideDownUp 4s ease-in-out forwards;
}

/* Couleurs */
.notification.success {
    background-color: var(--ok-color);
}
.notification.error {
    background-color: var(--error-color);
}
.notification.info {
    background-color: var(--info-color);
}

.notification-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.notification-icon {
    background-color: var(--light-color);
    margin-left: 10px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

/* Animation descend puis remonte */
@keyframes slideDownUp {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    10%, 90% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}
